body{
    margin: 0;
    padding: 0;
    font-family: "Open-sans", sans-serif;
    background-image: linear-gradient(to bottom right, rgb(0, 21, 141), rgb(57, 209, 247), rgb(62, 233, 77));
    height: 100vh;
    width: 100vw;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#about {
    color: rgb(255, 251, 0);
    font-size: 10vh;
    font-weight: 700;
    text-align: center;
    margin-top: 8vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
}

#back{
    position: absolute;
    top: 1vh;
    left: 1vw;
    padding: 0.5vh;
    border-radius: 1vh;
    text-decoration: none;
    font-weight: 700;
    font-size: 4vh;
    color: black;
    background-color: white;
}

#text{
    width: 40%;
    color: white;
    font-size: 3vh;
    font-weight: 600;
    padding: 4%;
    height: 40vh;
    margin: 1vh auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#contact{
    margin-top: 5%;
    font-size: 2.5vh;
    font-weight: 400;
    text-decoration: none;
    color: white;
}