body{
    margin: 0;
    padding: 0;
    background-color: #555555;
    text-decoration: none;
    font-family: 'Open-sans', sans-serif;
}

nav{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    position: absolute;
    z-index: 5;
}

#menu {
    position: absolute;
    z-index: 8;
}

nav > div, nav a {
    display: inline-block;
    margin: 0.5% 2%;
    vertical-align: middle;
   
}

nav a {
    font-weight: 700;
    font-size: 4vh;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 1vh;
    text-decoration: none;
    background-color: white;
}

#time {
    position: absolute;
    left: 70px;
    top: 6px;
    font-weight: 700;
    z-index: 10;
    font-size: 5vh;
    color: red;
}

#score {
    display: block;
    text-align: right;
    position: absolute;
    top: 0.3vh;
    left: 97vw;
    font-weight: 700;
    z-index: 10;
    font-size: 5vh;
    color: white;
}